
{% extends 'base.html' %}

{% block content %}

    <div class="pure-g">
        <div class="pure-u-1-5"></div>
        <div class="pure-u-3-5">
            <h3>
                Busqueda de Ordenes
            </h3>


            {% if messages %}
                {% for message in messages %}
                    <aside>
                        <p>
                            {{message}}
                        </p>
                    </aside>
                {% endfor  %}
            {% endif %}

            
            <form class="pure-form">
                <fieldset>
                    <input type="text" id="txtBuscar" name="txtBuscar" placeholder="Buscar Item" />
                    <button type="submit" class="pure-button pure-button-primary">Buscar</button>

                    &nbsp;&nbsp;&nbsp;

                    <button type="button" class="pure-button pure-button" onclick="IrNuevaOrden()">Nueva Orden</button>

                    &nbsp;&nbsp;&nbsp;

                </fieldset>
            </form>  

        </div>
        <div class="pure-u-1-5"></div>
    </div>

    <br>
    <br>
    <br>

    <div class="pure-g">
        <div class="pure-u-3-24"></div>
        <div class="pure-u-18-24">
            <table class="pure-table pure-table-striped ">
                <thead>
                    <tr>
                        <th>Numero</th>
                        <th>Fecha</th>
                        <th>Capataz</th>
                        <th>Obra</th>
                        <th>Editar</th>
                        <th>Imprimir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resultado in resultados %}
                        <tr>
                            <td>{{resultado.pk }}</td>
                            <td>{{resultado.fecha }}</td>
                            <td>{{resultado.capataz.apellido.upper}}, {{resultado.capataz.nombre.upper }}</td>
                            <td>{{resultado.obra.descripcion.upper }}</td>
                            <td>
                                <a href="/ordenes/editar/{{resultado.pk}} ">Editar</a></p>
                            </td>
                            <td>
                                <a href="/ordenes/imprimir/{{resultado.pk}} " target="_blank">Imprimir</a></p>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pure-u-3-24"></div>
    </div>
        
{% endblock %}

{% block customjs %}

    <script>
        $( document ).ready(function() {
            $("#txtBuscar").focus();
        });

        function IrNuevaOrden() {
            window.location.replace("/ordenes/nuevo");
        }

    </script>

{% endblock %}

